.arrow-link {
  display: inline-flex;
  align-items: center;
  gap: 13px;
  color: var(--accent-color);
  font-size: 14px;

  &::after {
    content: url(./../img/icons/arrow-right.svg);
    height: 24px;
  }
  &:hover {
    color: transparent;
    background: linear-gradient(100deg, #000000, #00000011, #c4510f);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: gradientAnimation 3s infinite ;
  }
  
  @keyframes gradientAnimation {
    0% { background-position: 100% 50%; }
    100% { background-position: 0 50%; }
  }
  
  
}
