.footer {
    background-color: var(--footer-color);
    color: var(--footer-text-color);
    padding: 118px 0 56px;
    &__grid {
        margin-bottom: 118px;
        display: grid;
        grid-template-columns: 3fr 1fr 2fr 2fr 2fr;
        gap: 20px;
    }
    &__info {
        font-weight: 500;
        font-size: 15px;
        line-height: 1.6;
        p + p {
            margin-top: 1em;
        }
    }
    &__logo {
        margin-bottom: 29px;
    }
    &__nav {
        margin-top: 5px;
        &-services {
            grid-column-start: 3;
        }
        &-title {
            color: var(--accent-color);
            font-size: 17px;
            margin-bottom: 20px;
        }
        &-list {
            font-size: 15px;
            display: grid;
            gap: 16px;
        }
    }
    &__extra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__copyright {
        opacity: 0.7;
    }

    &__links {
        display: flex;
        gap: 40px;
    }
}